body {
	background: #9fd3d6;

}

#app{
	display: table;
}
.add {
	display: flex;
	flex-flow: row nowrap;
}

.add input{
	border: 0;
	border-bottom: 1px solid white;
	background: #9fd3d6;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	width: calc(100% - 50px);
	color: white;
	font-size: 14px;
	font-weight: 600;
}


.add input::-webkit-input-placeholder {color:white; font-size: 14px; opacity: 0.8;}
.add input::-moz-placeholder          {color:white; font-size: 14px;opacity: 0.8;}
.add input:-moz-placeholder           {color:white; font-size: 14px;opacity: 0.8;}
.add input:-ms-input-placeholder      {color:white; font-size: 14px;opacity: 0.8;}



.add button {
	border: 0;
	background: #906eb8;
	color: white;
	line-height: 30px;
	font-weight: 700;
	width: 50px;
	cursor:pointer;
	height: 32px;
	
}

.filter{
	border: 0;
	border-bottom: 1px solid white;
	background: #5abea9;
	height: 30px;
	line-height: 30px;
	margin-top: 4px;
	padding-left: 10px;
	width: 100%;
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.filter::-webkit-input-placeholder {color:white; font-size: 14px; opacity: 0.8;}
.filter::-moz-placeholder          {color:white; font-size: 14px;opacity: 0.8;}
.filter:-moz-placeholder           {color:white; font-size: 14px;opacity: 0.8;}
.filter:-ms-input-placeholder      {color:white; font-size: 14px;opacity: 0.8;}


ul{
	width: 100%;
}

ul li {
	height: 30px;
}

li button{
	border: 0;
	background: #d85d84;
	color: white;
	font-weight: 700;
	padding: 0px 10px;
	height: 100%;
	margin-left: 2px;
	display: inline-block;
	cursor: pointer;

}
li span{
	width: 190px;
	display: inline-block;
	height: calc(100% - 6px);
	border-bottom: 2px solid white;
}

li{
	margin-top:2px;
	height: 30px;
	
}